#mapCanvas {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

#eventDetails {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 1000;
  text-align: center;
}

#mapContainer,
#eventTeamsTableContainer {
  display: none;
}

/* Event teams table styles */
#eventTeamsTable {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

#eventTeamsTable th, #eventTeamsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#eventTeamsTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#eventTeamsTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

#eventTeamsTable tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

#mapContainer {
  height: 800px;
  width: 95%;
  display: none;
}
