.introduction {
  display: block;
}

.ambassy {
  display: none;
}

#mapCanvas {
  margin: 0 auto;
  border: 1px solid;
}

#eventDetails {
  background-color: white;
  border: 1px solid;
  padding: 10px;
}

#eventTeamsTable {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

#eventTeamsTable th, #eventTeamsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#eventTeamsTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#eventTeamsTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

#eventTeamsTable tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

#mapContainer {
  height: 800px;
  width: 95%;
  margin: auto;
}
